{% extends '::base.html.twig'%}

{% block body %}
  <div align="center">
    <h1>ELIGE UN PRODUCTO</h1>
    <br/>
    <a href="/producto1">
      <img src="http://www.portalroms.com/sites/default/files/1224%20-%20Grand%20Theft%20Auto.%20San%20Andreas%20-%2010%20-%2026-10-2004%20-%20Action%20Adventure.jpg" height="300px">
    </a>
    <a href="/producto2">
      <img src="http://vignette1.wikia.nocookie.net/godofwar/images/3/3a/Portada_God_of_War_II_PS2.jpg/revision/latest?cb=20150811182335&path-prefix=es" height="300px">
    </a>
  </div>
{% endblock %}
